body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }
        header {
            background-color: #0171a3;
            color: white;
            padding: 20px 0;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        header h1 {
            margin: 0;
            font-size: 2.5rem;
        }
        .container {
            max-width: 1200px;
            margin: 40px auto;
            padding: 0 20px;
        }
        h2 {
            font-size: 1.75rem;
            color: #0171a3;
            margin-bottom: 20px;
            border-bottom: 2px solid #0171a3;
            padding-bottom: 10px;
        }
        p, li {
            line-height: 1.6;
        }
        ul, ol {
            padding-left: 20px;
            margin: 10px 0;
        }
        li {
            margin-bottom: 10px;
        }
        .section {
            margin-bottom: 40px;
        }
        .project-description {
            margin-left: 15px;
            font-style: italic;
        }
        .highlight {
            background-color: #e0f7fa;
            padding: 5px 10px;
            border-radius: 5px;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 50px;
        }
        footer p {
            margin: 0;
        }
        @media (max-width: 768px) {
            .container {
                margin: 20px auto;
                padding: 0 10px;
            }
            header h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.5rem;
            }
        }
        .personal-info-section {
            display: flex;
            align-items: center; /* Aligns items to the top */
            margin: 20px 0; /* Add some space around the section */
        }
        
        .photo-container {
            margin-right: 50px; /* Space between the photo and text */
        }
        
        .profile-photo {
            width: 250px; 
            height: 300px;; 
        }
        
        .info-container {
            flex: 1; /* This allows the text container to take the remaining space */
        }
        .certificate-photo {
            width: 225px; 
            height: 300px;
        }
        .Projects-photo{
            width: 400px; 
        }